<ul class="dropdown-menu dmenu">
    <li>
        <div class="navbar-login">
            <div class="col-md-12">
                <div class="row">
                    <div class="dropdown-tag">
                        <h3 class="text-center dropdown-tag-head">
                            Notifications
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                
            </div>
        </div>
    </li>
</ul>