<!DOCTYPE html>
<html>
    <head>
        <title>Sport Chat</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <div class="container logo-container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar" id="nav_bar" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle navbar_icon" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span> 
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1 class="logo-div">
                                <a href="/">Sport Chat</a>
                            </h1>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </body>
</html>