<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/style.css">    
        <link rel="stylesheet" href="/css/profile.css">
    </head>
    <body>
        <%- include ../partials/navbar.ejs %>
        <div class="col-md-12 mob-clearfix margin-80">
            <input type="hidden" id="name-user" value="<%= user.username %>">
            <input type="hidden" id="name-image" value="<%= user.userImage %>">
            
            <div class="col-md-12">
                <div class="chat_container">
                    <div class="row">
                        <!-- LEFT -->
                        <div class="col-sm-4 col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="profile-sidebar">
                                        <div class="img-container">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>